{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var get_post_list_url = "{{=URL('api', 'get_post_list')}}";

    var set_stars_url = "{{=URL('api', 'set_stars', user_signature=True)}}";
    var is_logged_in = {{='false' if auth.user is None else 'true'}};
</script>
{{end}}

<div class="main_content">

    <p>
    <div id="AddPost"><a href="{{=URL('default', 'add')}}" class="btn">Add Post</a></div>
    </p>

{{for r in rows:}}
    <div class="post">


        <div class="images">
            <div class="test1">
            {{if r['post_dietary_restriction'] == "Vegetarian":}}
                <div id="Container2">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">

                        <ol id="indicators" class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>

                        <div id="carousel_inner" class="carousel-inner">
                            <div id="pic1" class="item active">
                                <img src="{{=URL('static','images/Vegetarian.jpg')}}" alt="Los Angeles" width="50%">
                            </div>

                            <div id="pic2" class="item">
                                <img src="{{=URL('static','images/Vegetarian_2.jpg')}}" alt="Chicago" width="50%">
                            </div>

                        </div>
			<div id = "arrow_controls">
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
			</div>
                    </div>
                </div>

            {{pass}}
            {{if r['post_dietary_restriction'] == "Vegan":}}
                <img style="width:50%" src="{{=URL('static','images/Vegan.jpg')}}" alt="Vegan">

            {{pass}}
            {{if r['post_dietary_restriction'] == "Gluten free":}}
                <img style="width:50%" src="{{=URL('static','images/Gluten_20Free.jpg')}}" alt="Gluten free">

            {{pass}}
            {{if r['post_dietary_restriction'] == "Pescetarian":}}
                <img style="width:50%" src="{{=URL('static','images/pescetarianDiet.jpg')}}" alt="Pescetarian">

            {{pass}}
            {{if r['post_dietary_restriction'] == "Kosher":}}
                <img style="width:50%" src="{{=URL('static','images/Kosher.jpg')}}" alt="Kosher">

            {{pass}}
            {{if r['post_dietary_restriction'] == "Alcohol free":}}
                <img style="width:50%" src="{{=URL('static','images/alcohol_free.jpg')}}" alt="Alcohol free">

            {{pass}}
            {{if r['post_dietary_restriction'] == "dairy product free":}}
                <img style="width:50%" src="{{=URL('static','images/dairy-free.jpg')}}" alt="dairy product free">

            {{pass}}
            </div>

        </div>
	<div id="all">
	<div id="credentials">
        	<div id="Title" class="title"><strong>Title:</strong> {{=r['post_title']}}</div>
		<div id="author" class="author"><strong>Author:</strong> {{=r['post_author']}}</div>

        </div>
	<div class="recipe_details">
            <div class="rating">
                <div id="difficulty"><strong>Difficulty Level:</strong></div>
          	<div class="difficulty_level">
			 {{=r['post_difficulty']}}
		</div>
            </div>
            <div class="dietary_restriction"><div id="diet"><strong>Dietary restriction:</strong></div>
                <div id="restrict" style="text-align: center"><p id="dietary_restriction">{{=r['post_dietary_restriction']}}</p></div>
            </div>


            <div><br></div>
            <div class="type_of_meal"><div id="type"><strong>Type of meal:</strong></div> {{=r['post_type_of_meal']}}</div>
            <div><br></div>
            <div class="cooktime"><div id="cook"><strong>Cook Time:</strong></div> {{=r['post_cooktime']}}</div>
        </div>
        </div>
	<div class="yellowbreak"><br></div>

        <div class="break"><br></div>
	
        <div class="recipe_description">
            <div class="Ingredients">
                <div class="header"><h5>Ingredients:</h5></div>
                <div class="Ingredients_content">
                    <ul>
                        <li v-for="(ingredient) in post_ingredients">
                        {{=r['post_ingredients']}}
                        </li>
                    </ul>
                </div>

            </div>
            <div class="instruction"><h5>Instruction:</h5>
                <div class="instruction_content">{{=r['post_instruction']}}</div>
            </div>
        </div>
        <div class="button_row">
        {{if auth.user is not None and auth.user.email == r['post_author']:}}
            <a href="{{=URL('default', 'edit', args=[r['id']])}}" class="btn">
                <i class="fa fa-pencil-square-o"></i> Edit
            </a></div>
    {{pass}}
    {{if auth.user is not None:}}
        <a href="{{=URL('default', 'add_reply', args=[r['id']])}}" class="btn">
            <div id="reply_button"><i class="fa fa-plus"></i> Reply</div>
        </a>
    {{pass}}



    {{for reply in r['reply_list']:}}
        <div class="reply">
            <div class="Top_break"><br></div>

            <!-- Display here a reply -->
            <div class="reply_author"><strong>Author:</strong> {{=reply['reply_author']}}</div>
            <div class="reply_content"><strong>Content:</strong> {{=reply['reply_content']}}</div>
        {{if auth.user is not None and auth.user.email == reply['reply_author']:}}
            <div class="reply_container">

                <div class="reply_options">
                    <a href="{{=URL('default', 'edit_reply', args=[reply['reply_id']], user_signature=True)}}"
                       class="btn">
                        <i id="edit" class="fa fa-pencil-square-o"></i>
                    </a>
                    <a href="{{=URL('default', 'delete_reply', args=[reply['reply_id']], user_signature=True)}}"
                       class="btn">
                        <i id="trash" class="fa fa-trash-o"></i>
                    </a>
                </div>
            </div>
            <div class="break"><br></div>
        {{pass}}
        </div>

    {{pass}}
    </div>
{{pass}}

</div>
